body {
    font-family: 'Raleway', sans-serif;
}

.top-link-anchor {
    position: fixed;
    right: 10px;
    bottom: 25px;
}

.move-down {
    padding-top: 50px;
}

.right {
    text-align: right;
}

.sidebar {
    border-right: 1px solid #222;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 25px;
}

.project {
    margin-bottom: 50px;
    margin-left: 25px;
}

.project-links {
    list-style-type: none;
    text-align: right;
}

.project-title {
    font-family: 'Ubuntu', sans-serif;
}

.project-link {
    font-size: 1.2em;
}

.project-description {
    font-size: 1.1em;
    margin-top: 25px;
}

.project-img {
    margin-top: 25px;
    margin-bottom: 50px;
    display: block;
    max-width: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
